<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<head>
    <meta http-equiv="Content-Type" content="text; charset=UTF-8" />
    <title>App4SHM Diagnostics</title>
</head>
<body>
    <h1>App4SHM Diagnostic Page</h1>
    <div style="float: left; display: inline-flex">
        <a href=cleanup style="padding-left: 25px">
            <button class=grey style="height: 75px; width: 150px; font-size: 20px">Clear page</button>
        </a>
        <a href=generate style="padding-left: 25px">
            <button class=grey style="height: 75px; width: 150px; font-size: 20px">Fetch Data</button>
        </a>
    </div>
    <br>
    <br>
    <br>
    <span style="white-space: pre-wrap">
        <p>{{datalist}}</p>
    </span>
<script>
    setTimeout(function (){window.location.reload()}, 5000)
</script>
</body>
</html>