<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text; charset=UTF-8" />
    <title>App4SHM Diagnostics</title>
</head>
<body>
    <h1>App4SHM Diagnostic Page</h1>
    <br>
    <button type="button" th:onclick="|window.location.href='/clear'|"> Hello</button>
    <br>
    <span style="white-space: pre-wrap">
        <p th:text="${printme}" />
    </span>
<script>
    setTimeout(function (){window.location.reload()}, 5000)
</script>
</body>
</html>